/* USER DEFINED STYLES-UD */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
	font-family: 'zeichenregular';
	src: url('zeichen.woff2') format('woff2'), url('zeichen.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'monument_extendedregular';
	src: url('monumentextended-regular.woff2') format('woff2'),
		url('monumentextended-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
:root {
	--bs-primary: #3c5333;
	--bs-primarylight: #72a95c80;
	--bs-background: #e7eee6;
	--bs-dark: #1b1b1b;
	--bs-white: #ffffff;
	--bs-text: #30362e;
	--bs-font-sans-serif: 'Poppins', sans-serif;
	--bs-font-extended: 'monument_extendedregular', sans-serif;
	--bs-font-handwritten: 'zeichenregular', sans-serif;
}
.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 2rem;
	background-color: var(--bs-background);
	padding-bottom: 0.5rem;
}
.nav-link {
	font-family: var(--bs-font-extended);
	display: block;
	padding: 0.5rem 1.3rem;
	font-size: 0.8rem;

	color: var(--bs-text);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}

.form-control::placeholder {
	font-family: var(--bs-font-sans-serif);
	color: #868e96;
	opacity: 1;
}

.nav-link:hover {
	color: var(--bs-primary);
	text-decoration: underline 3px var(--bs-primary);
}

@media (max-width: 576px) {
	.main-page-pic {
		display: flex;
		margin-bottom: 1rem;
	}
	.main-page-pic-2 {
		display: none;
	}
	c1 {
		font-family: var(--bs-font-handwritten);
		line-height: 5rem;
		padding-bottom: 3rem;
		font-size: 85px;
		color: var(--bs-primary);
	}
	e1 {
		font-family: var(--bs-font-extended);
		font-size: 20px;
	}
}
@media (min-width: 577px) {
	.main-page-pic {
		display: none;
	}
	.main-page-pic-2 {
		display: flex;
	}
	c1 {
		font-family: var(--bs-font-handwritten);
		line-height: 5rem;
		padding-bottom: 3rem;
		font-size: 135px;
		color: var(--bs-primary);
	}
	e1 {
		font-family: var(--bs-font-extended);
		font-size: 30px;
	}
}
@media (min-width: 992px) {
	.main-page-line {
		padding-top: 25vh;
	}
	c1 {
		font-family: var(--bs-font-handwritten);
		line-height: 5rem;
		padding-bottom: 3rem;
		font-size: 135px;
		color: var(--bs-primary);
	}
	e1 {
		font-family: var(--bs-font-extended);
		font-size: 30px;
	}
}
@media (min-width: 1000px) {
	.main-page-line {
		padding-top: 15vh;
	}
	.nav-link {
		font-family: var(--bs-font-extended);
		display: block;
		padding: 0.5rem 0.5rem;
		font-size: 0.8rem;

		color: var(--bs-text);
		text-decoration: none;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out;
	}
}
@media (min-width: 1400px) {
}

s2 {
	font-family: var(--bs-font-sans-serif);
	font-size: 1rem;
}

.main-page-pic-2 {
	margin: 1.5rem 0;
}
.btn-custom-cont {
	font-family: var(--bs-font-sans-serif);
	font-weight: bold;
	color: var(--bs-white);
	background-color: var(--bs-primary);
	font-size: 0.9rem;
	border-radius: 20px;
	padding: 4px 16px;
	margin-right: 2rem;
	margin-top: 1.5rem;
	width: max-content;
}
.btn-custom-out {
	font-family: var(--bs-font-sans-serif);
	font-weight: bold;
	color: var(--bs-primary);
	margin-top: 1rem;
	font-size: 0.9rem;
	border-radius: 20px;
	padding: 4px 16px;
	width: max-content;
}

/* ENDS HERE */
main {
	background-color: var(--bs-background);
	min-height: 80vh;
}

h3 {
	padding: 0.5rem 0.5rem 0rem 0.5rem;
	/* font-size: 42px; */
}
h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h6 {
	font-size: 13px;
	padding: 1rem 0;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}
.rating span {
	margin: 0.2rem;
}

.figure-img {
	border-radius: 4%;
}
/* carousel  */
.carousel {
	margin-top: 1vw;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
	display: flex;
}

.carousel-caption {
	position: absolute;
	top: 0;
}
.carousel-caption h2 {
	color: #fff;
}
.carousel img {
	height: 300px;
	padding: 30px;
	border-radius: 50%;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

.btn-primary {
	color: #fff;
	background-color: #15b3ac;
	border-color: #15b3ac;
}
.btn-primary:hover {
	color: #fff;
	background-color: #179992;
	border-color: #151515;
}
/* .jumbotron {
	background-image: url('img/Jumbotron.jpg');
	background-size: 100% 100%;
	height: 100%;
} */

.jumbotron {
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
	color: white;
	height: 100vh;
	/* background-image: url('img/Jumbotron.jpg'); */
	background: linear-gradient(
			0deg,
			rgba(22, 50, 75, 0.62),
			rgba(22, 50, 75, 0.62)
		),
		url('img/Jumbotron.jpg');

	background-size: 100% 100%;
}
.jumbotron h6 {
	color: white;
}
.jumbotron h1 {
	color: white;
}

.jumbotron {
	margin-bottom: 5;
	margin-top: 0;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
	color: white;
	height: 100vh;
	/* background-image: url('img/Jumbotron.jpg'); */
	background: linear-gradient(
			0deg,
			rgba(22, 50, 75, 0.62),
			rgba(22, 50, 75, 0.62)
		),
		url('img/Jumbotron.jpg');

	background-size: 100% 100%;
}
.jumbotron h6 {
	color: white;
}
.jumbotron h1 {
	color: white;
}

.img-wrapper {
	overflow: hidden;
}

img.hover-zoom {
	transition: all 0.3s ease 0s;
	width: 100%;
}
img.hover-zoom:hover {
	transform: scale(1.25);
}

/*******************FOOTER CSS***************************************/
/*
.footer-bs {
	background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	border-color: transparent;
}
.footer-bs .footer-brand h2 {
	margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
	padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.list li {
	padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
	color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-bs .footer-social ul {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li {
	padding: 5px 4px;
}
.footer-bs .footer-social a {
	color: rgba(255, 255, 255, 1);
}
.footer-bs .footer-social a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}
.footer-bs .footer-ns p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
	.footer-bs .footer-nav,
	.footer-bs .footer-social,
	.footer-bs .footer-ns {
		border-left: solid 1px rgba(255, 255, 255, 0.1);
	}
}
*/
